* {
    margin: 0;
    padding: 0;
}

#canvas { 
    position:fixed;
    top:0; left:0;
    width:100%; height:100%;
    z-index: -1;
}

/* As hex codes */
:root {
    --main-black: #1A1A1A;
    --title-text: #1A1A1A;
    --primary-text: #404040;
    --secondary: #808080;
    --accent: #426aac;
    --main-bg: #faf02f;
    --article-bg: #fefeee;
    --link-text: #1a1aaa;
}


@media (prefers-color-scheme: dark) {
    :root {
        --main-black: #FAFAFA;
        --primary-text: 	#f0f0f0;
        --secondary: #808080;
        --accent: #426aac;
        --main-bg: #faf02f;
        --article-bg: #000000;
        --link-text: #8888ff;
    }
  }

h1,h2 {
    font-family: 'Jost', sans-serif;
}

h1 {
    font-size: 24pt;
    margin-bottom: 8px;
    color: var(--title-text);
}

h2 {
    font-size: 24pt;
    margin-top: 16px;
    margin-bottom: 16px;
}

h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

a, a:visited {
    color: var(--link-text);
}

body {
    background-color: var(--main-bg); /* 全体の背景色 */
    color: var(--main-black);
}

p {
    line-height: 1.7;
    color: var(--primary-text);
    font-family: YuGothic,游ゴシック,Meiryo,メイリオ,Hiragino Kaku Gothic Pro,ヒラギノ角ゴシック,sans-serif;
}

#body {
    width: 92%;
    max-width: 820px;
    margin: 0 auto;
}

header {
    display: block;
    float: right;
    cursor: pointer;
    color: var(--title-text);
}

li {
    list-style:none;
}

.en {
    display: none; /* デフォルト */
}

.main-article {
    background-color: var(--article-bg); /* 全体の背景色 */
    padding: 8px;
}

.profile-image {
    display: block;
    margin: 0 auto;
}

.list-item-img {
    height: 1.0em;
    width: 1.0em;
    margin-right: 8px;
    fill: var(--primary-text);
}

img.screenshot-work {
    width:auto;
    height:auto;
    max-width:240px;
    max-height:100%;
    margin: 0 auto;
    display: block;
}

.icon-socialmedia {
    width: 24px;
    height: 24px;
    margin: 0 8px;
    fill: var(--primary-text);
}

a.no-underline {
    text-decoration: none;
}

.work-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.work-screenshot {
    width: 100%;
}

.work-description {
    width: 100%;
    padding: 8px;
}

.work-technical {
    color: var(--secondary);
    font-size: small;
    margin-top: 20px;
}

#footer {
    height: 100px;
    margin-bottom: 20px;
}


@media screen and (min-width:1024px) {
    /* 　for PC　*/
    h2 {
        font-size: 32pt;
        margin-top: 16px;
        margin-bottom: 16px;
    }
    .work-wrapper {
        display: flex;
        flex-wrap: wrap;
    }
    
    .work-screenshot {
        width: 30%;
    }
    
    .work-description {
        width: 60%;
        padding: 8px;
    }
}
